:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --light-text-color:#FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --accent-bg-color:#F5F4FA;
    --primary-font:'Roboto', Arial, Helvetica, sans-serif;
    --accent-font: 'Raleway', sans-serif;
    --transition-time: 250ms;
    --transition: cubic-bezier(0.4, 0, 0.2, 1)

}

/*common styles*/

body{
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.link{
    font-family: inherit;
    text-decoration: none;
    color:inherit;

}

.link:hover,
.link:focus{
    color: var(--accent-color);
}

.list-item {
    list-style: none;
}

.botton{
    cursor: pointer;
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

.list{
    list-style: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px ;
}

/*Webstudio page*/

/*header*/

.header{
   
    border: 1px solid #ECECEC
}

.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.logo{
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    text-decoration: none;
    color: inherit;
    margin-right: 93px;
    
}

.nav-link{
    display: block;
    color: var(--primary-text-color);
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 31px;
    padding-bottom: 31px;
   
}

.footer-contacts{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    font-weight: 400;
}

.nav-link:hover,
.nav-link:focus {
   color: var(--accent-color);
}

.nav-link.current{
    color:var(--accent-color);

}

.contacts-link{
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    list-style:none;
    text-decoration: none;
    padding-top: 31px;
    padding-bottom: 31px;
    align-items: center;
    flex-direction: row-reverse;
}

.contacts-link:hover, 
.contacts-link:focus{ 
    color: var(--accent-color);
 } 

.contact-link-icon {
    fill: currentColor;
    margin-right: 10px;
}

/*Webstudio hero*/

.studio-hero{
    background-color: #C4C4C4;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/WebStudio/background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;

}

.hero-studio-title{
    color:var(--light-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin: 0 auto;
    width: 696px;

    margin-bottom: 30px;
    
}

.hero-button{
    color: var(--light-text-color);
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   
    margin: 0 auto;
    padding: 10px 30px;
    min-width: 200px;
          
}

 /* Benefits */

 .benefits-list{
    display: flex;
    flex-wrap: no-wrap;
    gap: 30px;
 }

 .benefits-item{
    flex-basis: calc((100% - 90px) / 4);

 }

 

 .benefits-icon-container{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 120px;
 background-color: var(--accent-bg-color);
border-radius: 4px;
 margin-bottom: 30px;
}


 .benefits-title{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    margin-bottom: 10px;

 }


 .benefits-text {
    line-height: 1.71;
    color: var(--secondary-text-color);
 }


.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Work */

.work{
    padding-top:0
}

.section-title{
    font-size: 36px;
    line-height: 1.16;

    text-align: center;
    margin-bottom: 50px;

}

.work-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.work-item {
    flex-basis: calc((100% - 60px) / 3);
}

/*Team*/

.team{
    background-color: var(--accent-bg-color);

}

.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-item{
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 90px) / 4);

}

.team-image{
    max-width: 100%;
    height: auto;
}

.team-description{
    padding: 30px;
}

.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    margin-bottom: 10px;

}

.team-text{
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
  
    text-align: center;
    margin-bottom: 16px;

}

.social-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0;
}

.social-list-link:hover,
.social-list-link:focus{
    background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
    fill: var(--light-text-color);
}

.social-list-icon{
    fill: #AFB1B8;

}



/*Portfolio hero*/


.filter-list{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;

}

.filter-item{
    margin-right: 8px;

}

.filter-item:last-child{
    margin-right: 0px;

}


.portfolio-list{ 
    display: flex ;
    flex-wrap: wrap;
    gap: 30px;

    
}

.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative; 
    overflow: hidden;
    cursor: pointer;
 
}


.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.portfolio-item:nth-child(3n){
    margin-right: 0px;
}

.portfolio-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.portfolio-overlay{
    display: flex;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 73%; 
    background-color:rgba(33, 150, 243, 0.9);
    transform: translatey(150%);
    transition: var(--transition-time) var(--transition);

}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay{
    transform: translatey(0%);
}

.overlay-text{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    padding: 63px 24px;
}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text{
    transform: translate(0%);

}


.portfolio-image{
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-description{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0px;

   
}


.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--accent-bg-color);
    border-radius: 4px;
    border-color: var(--accent-bg-color);
    border: 0px;

    padding: 6px 22px;
    min-width: 73px;

}
.button:hover {
    background-color: var(--accent-color);
    color: var(--light-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.accent{
    color: var(--accent-color)
}
.hero-subtitle {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

}

.hero-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color)
}

.accent-button{
   background-color: var(--accent-color);
   color: var(--light-text-color);
   border: 1px solid var(--accent-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  

}

/* Clients */



.clients-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}

.clients-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list-icon{
    fill: #AFB1B8;

}

.clients-list-link:hover,
.clients-list-link:focus {
    border-color: var(--accent-color)
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon{
    fill: var(--accent-color);

}
   
    

/*Footer*/

.footer{
   background-color: var(--secondary-bg-color);
   padding: 60px 0;
   
}

.footer .logo{
    display: block;
    color: var(--light-text-color);
    margin-bottom: 20px;
 
}

.footer>link{
    margin-bottom: 9px;
}


.map{
   font-weight: 400;
   line-height: 1.71;
   color: var(--light-text-color);
   text-decoration: none;
      
}

.footer-item:not(:last-child){
    margin-bottom: 9px;
}
.address{
    font-style: normal;
}

.footer-wrapper{
    display: flex;
    align-items: baseline;

}


.wrapper-address{
    margin-right: 70px;
     
}


.footer-title{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    margin-bottom: 20px;
    color: var(--light-text-color);
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.social-list-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    background-color: var(--accent-color);
}

.social-list-link-footer:hover .social-list-icon,
.social-list-link-footer:focus .social-list-icon {
    fill: var(--light-text-color);
}

.social-list-icon-footer {
    fill: var(--light-text-color);
    

}




